


<style>
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


.month {
  padding: 70px 25px;
  width: 100%;
  background: #dba123;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white 
}


}
</style>
</head>
<body>

<h1>CSS Calendar</h1>

<div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      June<br>
      <span style="font-size:18px">2019</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">  
        <form action="https://www.w3docs.com/" method="get" target="_blank">
            <input type="submit" name="submit" value ="submit">
            <button type="submit"></button>
         </form>
  <li><button onclick="myFunction()">1</button></li>
  <li><button onclick="myFuncion()">2</button></li>
  <li><button onclick="myFuncion()">3</button></li>
  <li><button onclick="myFuncion()">4</button></li>
  <li><button onclick="myFuncion()">5</button></li>
  <li><button onclick="myFuncion()">6</button></li>
  <li><button onclick="myFuncion()">7</button></li>
  <li><button onclick="myFuncion()">8</button></li>
  <li><button onclick="myFuncion()">9</button></li>
  <li><button onclick="myFuncion()">10</button></li>
  <li><button onclick="myFuncion()">11</button></li>
  <li><button onclick="myFuncion()">12</button></li>
  <li><button onclick="myFuncion()">13</button></li>
  <li><button onclick="myFuncion()">14</button></li>
  <li><button onclick="myFuncion()">15</button></li>
  <li><button onclick="myFuncion()">16</button></li>
  <li><button onclick="myFuncion()">17</button></li>
  <li><button onclick="myFuncion()">18</button></li>
  <li><button onclick="myFuncion()">19</button></li>
  <li><button onclick="myFuncion()">20</button></li>
  <li><button onclick="myFuncion()">21</button></li>
  <li><button onclick="myFuncion()">22</button></li>
  <li><button onclick="myFuncion()">23</button></li>
  <li><button onclick="myFuncion()">24</button></li>
  <li><button onclick="myFuncion()">25</button></li>
  <li><button onclick="myFuncion()">26</button></li>
  <li><button onclick="myFuncion()">27</button></li>
  <li><button onclick="myFuncion()">28</button></li>
  <li><button onclick="myFuncion()">29</button></li>
  <li><button onclick="myFuncion()">30</button></li>
</ul>

</body>
<script></script>
</html>
